# Workflow Engine
CAMUNDA_REST_URL=http://localhost:8080/engine-rest

# Neon Auth Upstream
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Server & Client Feature Flags
NEXT_PUBLIC_ALLOW_SIGN_UP=false

